#map {
   white-space: pre;
   font-family:monospace;
   font-size:250%;
   color:black;
   width:71%;
   float: left;
}

#miniMap {
   white-space: pre;
   font-family:monospace;
   font-size:25%;
   width:29%;
   float: left;
}

.mailman {
   color:Brown;
}

.tree {
   color:LimeGreen;
}
.rock {
   color:DarkSlateGray;
}
.grass {
   color:LightGreen;
}
.dirt {
   color:Wheat;
}
